body {
    overflow-x: hidden!important font-family: 'Poppins', sans-serif;
}

.small,
small {
    font-size: 37%;
    font-weight: 400;
    letter-spacing: 0.0em;
}

.paid {
    background: #76fd95
}

.closed {
    background: black;
    color: white
}

.card {
    background: white;
    box-shadow: 0px 0px 3px black
}

.monthHeading {
    background: black;
    color: white
}

.d-flex p {
    text-transform: capitalize;
}

.cardOuter {
    background: #e2e2e2!important;
}


/* .showOnClickMore {
    display: none!important
} */

.exclusiveInfo {
    color: red!important;
    font-weight: 900
}

#announcement p {
    line-height: 1em;
    white-space: nowrap;
}

.wid9000 {
    width: 9000px;
    background: url(img/paramapt.webp)
}

.wid9000 .col-md-3 {
    max-width: 320px;
}

.cardOuter {
    overflow-x: scroll;
}

.speciallyExcuslive {}

body {
    font-family: Arial;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ffbb21;
    background-color: #ffbb21;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: #903450;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33%;
    color: white;
    text-shadow: 1px 1px 1px black;
    white-space: nowrap
}

.tab button .fa {
    color: #ffbb21;
}


/* Change background color of buttons on hover */

.table td {
    padding: 0!important;
    text-align: center
}

.table tr {
    transition: 0.5s
}

.table tr:hover {
    background: #903450!important;
    color: white!important;
    cursor: pointer
}

.table th {
    text-align: center
}

.tab button:hover {
    background-color: #903450;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ffbb21;
    color: black;
    text-shadow: none;
}

.tab button.active .fa{
    color: #903450;
}



/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 300px!important;
    overflow: scroll;
}

#accordion .card-header {
    background: #edebee;
    text-align: center;
}

#accordion .card-header a {
    color: black!important;
}

.inandOutAnimate {
    animation: inandout 2s infinite
}

@-webkit-keyframes inandout {
    0% {
        transform: translateX(3px)
    }
    50% {
        transform: translateX(-3px)
    }
    100% {
        transform: translateX(3px)
    }
}

@keyframes inandout {
    0% {
        transform: translateX(3px)
    }
    50% {
        transform: translateX(-3px)
    }
    100% {
        transform: translateX(3px)
    }
}

.preloader {
    background-image: url('img/paramapt.webp');
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    z-index: 1;
    transition: 1s;
}

body {
    overflow-x: hidden!important;
}

#announcement .card-header {
    color: white;
    background: #903450;
    text-shadow: 1px 1px 1px black;
}

#announcement .card-header i {
    color: #ffbb21;
}

#announcement .card-body {
    background: #ffbb2159;
}

#announcement .card-body h4 {
    color: #903450;
    text-shadow: 1px 1px 1px black;
}

#announcement p {
    line-height: 1em;
    white-space: nowrap;
    color: black;
    text-shadow: 1px 1px 1px black;
}

.card-body .fa {
    color: #903450;
}

#accordion .card-header {
    background: #903450;
    text-align: center;
    color: white;
}

#accordion .card-header .fa {
    color: white;
}

#accordion .card-header {
    color: white;
}

body {
    background: #ffbb21!important;
}
