 body {
     overflow-x: hidden!important
      font-family: 'Poppins', sans-serif;

 }
 
 .paid {
     background: #76fd95
 }
 
 .closed {
     background: black;
     color: white
 }
 
 .card {
     background: white;
     box-shadow: 0px 0px 3px black
 }
 
 .monthHeading {
     background: black;
     color: white
 }
 
 .d-flex p {
     text-transform: capitalize;
 }
 
 .cardOuter {
     background: #e2e2e2!important;
 }
 /* .showOnClickMore {
     display: none!important
 } */
 
 .exclusiveInfo {
     color: red!important;
     font-weight: 900
 }
 
 #announcement p {
     line-height: 1em;
 }
 
 .wid9000 {
     width: 9000px;
  background:url(img/paramapt.webp)
 }
 
 .wid9000 .col-md-3 {
     max-width: 320px;
 }
 
 .cardOuter {
     overflow-x: scroll;
 }
 
 .speciallyExcuslive {}
